.Panel {
  max-width: 459px;
  width: 100%;
  background-color: var(--tone-background);
  overflow: hidden;
}

.Panel_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 46px 21px 46px;
}

.Panel_searchButton {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E7E7EB;
  background: #6E707A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 11px 18px 10px 18px;
  border: none;
  outline: none;
  width: 161px;
  cursor: pointer;
}

.Panel_myLocation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6E707A;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}
.Panel_myLocationIcon {
  width: 40px;
  pointer-events: none;
}


/* ----------- PANEL MID ------------ */
.Panel_mid {
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
  position: relative;
  padding-top: 88px ;
  margin-bottom: 87px;
  text-align: center;
}

.Panel_divWeatherImage {
  height: 234px;
  pointer-events: none;
}

.Panel_divTemp {
  margin: 87px 21px 87px 0;
}
.Panel_temp {
  font-weight: 500;
  font-size: 144px;
  line-height: 169px;
  color: #E7E7EB;
}
.Panel_tempGrados {
  font-weight: 500;
  font-size: 48px;
  line-height: 56.35px;
  color: #A09FB1;
}

.Panel_weatherDescription {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #A09FB1;
}

.Panel_midBackground {
  position: absolute;
  top: 0px;
  right: -113.5px;
  opacity: 0.05;
  pointer-events: none;
}

/* ----------- PANEL BOTTOM ------------ */
.Panel_bottom {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px; */
  text-align: center;
  max-width: 190px;
  margin: 0 auto;
}
.Panel_divDate {
  display: flex;
  gap: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #88869D;  
}

.Panel_pintDropIcon {
  width: 24px;
  pointer-events: none;
}

.Panel_divLocation {
  display: flex;
  gap: 4px;
  justify-content: center;
  margin: 31px 20px 46px 0;
}
.Panel_location {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #88869D;
  margin-top: 1px;
}

