.Forecast {
  display: flex;
  justify-content: space-between;
  margin: 66px 0 72px 0;
}
.Forecast_divForecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 0;
  background-color: #1E213A;
  max-width: 120px;
  width: 100%;
}
.Forecast_forecastDay {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #E7E7EB;
}

.Forecast_forecastDivImg {
  height: 62px;
  width:  56.44px;
  margin: 9px 0 32px 0;
}
.Forecast_forecastImg {
  width:  56.44px;
}

.Forecast_forecastDivMinMax {
  display: flex;
  gap: 16px;
}
.Forecast_forecasMax, .Forecast_forecasMin {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E7E7EB;
}
.Forecast_forecasMin {
  color: #A09FB1;
}
