.Villalb4 {
  margin: 0px auto 25 auto;
  font-family: 'Montserrat';
  font-style: normal;
}
.Villalb4_p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A09FB1;
}
.Villalb4_a {
  font-weight: 700;
  color: #A09FB1;
}
