.Weather {
  max-width: 764px;
  min-width: 670px;
  width: 100%;
  margin: 42px auto 0 auto;
  padding: 0 30px;
}

.Weather_top {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  padding-right: 2px;
}
.Weather_divC, .Weather_divF,.Weather_divC.active, .Weather_divF.active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #585676;
  border-radius: 50%;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #E7E7EB;
  cursor: pointer;
  transition: all ease 0.3s;
}

.Weather_divC.active, .Weather_divF.active {
  background-color: #E7E7EB;
  color: #110E3C;
}
