.SearchPanel {
  position: absolute;
  padding: 12px 46px 45px 47px;
  background-color: var(--tone-background);
  height: 100%;
  max-width: 459px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all ease 0.3s;
}
.SearchPanel.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.SearchPanel_divX {
  height: 32px;
  display: flex;
  justify-content: flex-end;
}
.SearchPanel_divImgX {
  cursor: pointer;
}
.SearchPanel_imgX {
  height: 32px;
  width: 32px;
}


.SearchPanel_form {
  display: flex;  
  justify-content: space-between;
  gap: 8px;
  margin: 38px 0 58px 0;
}

.SearchPanel_divInput {
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 4px;
  max-width: 268px;
  width: 100%;
}

.SearchPanel_divImgSearch {
  height: 29px;
  width: 29px;
  margin: 4px 12px 0 7px;
  pointer-events: none;
}

.SearchPanel_input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E7E7EB;
}
.SearchPanel_input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #616475;
}
.SearchPanel_submit {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #E7E7EB;
  background: #3C47E9;
  padding: 14px 14px 15px 19px;
  border: none;
  outline: none;
  cursor: pointer;
}


.SearchPanel_result {
  border: 1px solid #616475;
  padding: 19px 7px 19px 12px;
  cursor: pointer;
  transition: all ease 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SearchPanel_result:hover {
  border: 1px solid #8f919a;
}
.SearchPanel_result > div > span  {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E7E7EB;
  pointer-events: none;
}

.SearchPanel_divDirection {
  height: 24px;
  max-width: 24px;
  width: 100%;
  pointer-events: none;
}
