.App {
  display: flex;
  gap: 30px;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--background);
  position: relative;
}
.App_panels {
  position: relative;
  max-width: 459px;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}
